<%- include('partials/header') %>

<h1>Welcome to Crisis Compass: A Disaster Management Website</h1>

<div class="icons-container">
    <a href="/report">
        <img src="images/report.png" alt="Report Logo">
        <span>Report a Disaster</span>
    </a>
    <a href="/predict">
        <img src="images/prediction.png" alt="Predict Logo">
        <span>Disaster Prediction</span>
    </a>
    <a href="/management">
        <img src="images/management.png" alt="Management Logo">
        <span>Disaster Management</span>
    </a>
    <a href="/about">
        <img src="images/about.png" alt="About Logo">
        <span>About Us</span>
    </a>
</div>

<%- include('partials/footer') %>
